/* 
   ~=========<+>==========~
	TABLE OF CONTENTS
	1. TYPOGRAPHY
	2. COMPONENTS
		a. GAME BOARD
		b. TWO PLAYERS MODE CONFIG 
		c. BUTTONS
		d. TOGGLE SWITCH
	3. MEDIA QUERIES
   ~=========<->==========~ 
*/ 

:root {
	--red: #fc5353;
	--lightblue: #87CBCE;
	--yellow: #fae067;
	--black: #404040;
	--aquagreen: #8de4af;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', Arial, Verdana, sans-serif;
	text-align: center;
	background-color: var(--aquagreen);
	color: #FFF;
}
main {
	max-width: 1010px;
	margin: 0 auto;
	min-height: 100vh;
}
/*===============
	TYPOGRAPHY
=================*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Staatliches', cursive;
}
.largeText {
	font-size: 4rem;
	letter-spacing: .5rem;	
}
.bold {
	font-weight: bold;
}

/*===============
	COMPONENTS
=================*/

/*>>>>>>>>>>>>>
   GAME BOARD
<<<<<<<<<<<<<<<*/

.gameBoard {
	margin: .5rem auto;
	max-width: 450px;
	--min-square-size: 150px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--min-square-size), 1fr));
}
	.squareBox {
		padding: 1rem;
		border: .5rem solid #fae067;
		width: var(--min-square-size);
		height: var(--min-square-size);
		background-color: #FFF;
		color: #000;
		font-weight: bolder;
		font-size: 5rem;
	}
	.squareBox:hover {
		border: .5rem solid var(--lightblue);
		cursor: pointer;
		z-index: 10;
	}
	.squareBox:first-child {
	border-radius: .5rem 0 0 0;
	}
	.squareBox:last-child {
		border-radius: 0 0 .5rem 0;
	}
	.squareBox:nth-child(3) {
		border-radius: 0 .5rem 0 0;
	}
	.squareBox:nth-child(7) {
		border-radius: 0 0 0 .5rem;
	}

.disableClick {
	pointer-events: none;
}
.error:hover {
	border-color: #fc5353;
}

.btn {
	display: inline-block;
	padding: 1em .7em;
	text-decoration: none;
	border-radius: 4px;
	margin: 0 0.5rem 0 0.5rem;
	transition: all .5s ease-in-out;
	letter-spacing: .1rem;
}
	.btn:hover {
		letter-spacing: 0;
	}
	.btnPrimary {
		background-color: #EEEEEE;
		color: var(--black);
	}
	.btnWarning {
		background-color: var(--red);
		color: #fff;
	}


/*<<<<<<<<<<<<<<
	GAME MENU
>>>>>>>>>>>>>>>> */
.gameMenu {
	margin: 1rem auto;
	transition: all .3s ease-in-out;
}

.btnRound {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<
 TWO PLAYERS MODE CONFIG 
>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.twoPlayersConfig {
	background-color: var(--aquagreen);
	padding: 3.5rem;
}
.fullScreen {
	position: absolute;
	top: 0; left: 0; 
	width: 100%;
	min-height: 100vh;
}
.square {
	margin: 1rem;
	padding: 1rem;
	background-color: #EEE;
}
	.squareBig {
		width: 300px;
		height: 300px;
	}

.round {
	flex-flow: column wrap;
	border-radius: 50%;
	color: #404040;
	background-color: #EEE;
	margin: 1rem;
	padding: 1rem;
}
	.roundBig {
		width: 250px;
		height: 250px;
	}
	.roundSmall {
		width: 150px;
		height: 150px;
	}
	.round label {
		letter-spacing: .1rem;
	}
	.round input {
		width: 70%;
		border: 4px solid #fae067;
		border-radius: 4px;
		padding: .7em .5em;
	}

.enterNameForm {
	max-width: 900px;
	margin: 0 auto;
}
.arrowNav {
	position: absolute;
	top: 1rem; left: 1rem;
	text-decoration: none;
	color: #FFF;
	font-size: 120%;
}

.placeCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}
	.placeCenterRow {
		flex-flow: row wrap;
	}
	.placeCenterColumn {
		flex-flow: column wrap;
	}


.displayNone {
	display: none;
}
.glowHover:hover {
	/*box-shadow: 0 0 .5rem .5rem var(--yellow);*/
}

/*===============
  MEDIA QUERIES
=================*/

@media (max-width: 550px) {
	.largeText {
		font-size: 3rem;
	}
	.twoPlayersConfig {
		padding: 2.5rem;
	}
	.enterNameForm {
		flex-flow: column wrap;
	}
	.mainGameUI.placeCenter {
		flex-flow: column wrap;
	}
}
