* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', Arial, Verdana, sans-serif;
	text-align: center;
	background-color: #8de4af;
	color: #FFF;
}
main {
	max-width: 1010px;
	margin: 1rem auto;
}
/*===============
	TYPOGRAPHY
=================*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Staatliches', cursive;
}
.largeText {
	font-size: 4rem;
	letter-spacing: .5rem;	
}
/*===============
	COMPONENTS
=================*/

.gameBoard {
	margin: 1rem auto;
	max-width: 450px;
	--min-square-size: 150px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--min-square-size), 1fr));
}
.squareBox {
	padding: 1rem;
	border: .5rem solid #fae067;
	width: var(--min-square-size);
	height: var(--min-square-size);
	background-color: #FFF;
	color: #000;
	font-weight: bolder;
	font-size: 5rem;
}
.squareBox:hover {
	border: .5rem solid #87CBCE;
	cursor: pointer;
	z-index: 10;
}
.gameBoard .squareBox:first-child {
	border-radius: .5rem 0 0 0;
}
.gameBoard .squareBox:last-child {
	border-radius: 0 0 .5rem 0;
}
.gameBoard .squareBox:nth-child(3) {
	border-radius: 0 .5rem 0 0;
}
.gameBoard .squareBox:nth-child(7) {
	border-radius: 0 0 0 .5rem;
}
.error:hover {
	border-color: #fc5353;
}

.placeCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}